$sizes: (
    xxs: 2px,
    xs: 4px,
    s: 8px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 40px, 
    xxxl: 48px,
);

.h{
    display: flex;
    align-items: center;
}

.grow{
    flex-grow: 1;
}

@each $key, $size in $sizes {
    .v-#{$key}{
        &>*+*{
            margin-top: $size;
        }
    }
    .h-#{$key}{
        &>*+*{
            margin-left: $size;
        }
    }
}